body {
  font-family: 'Lato', sans-serif;
}

p {
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Roboto Mono', monospace;
}

header {
  background-color: darkslateblue;
  color: white;
  font-size: 1.4rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

img {
  width: 100%;
}

input,
textarea {
  width: 100%;
  border: 1px solid darkgray;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}

input {
  line-height: 2rem;
}

textarea {
  height: 30vh;
}

button {
  background-color: darkslateblue;
  color: white;
  border-radius: 0.2rem;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  float: right;
  padding: 0.5rem 1rem;
}

ul {
  list-style-type: none;
}

form {
  margin-bottom: 2rem;
}

form img {
  margin-bottom: 1rem;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.form-label {
  font-size: 1.2rem;
  font-weight: 600;
}

.journal-entries {
  padding: 0;
}

.journal li {
  margin-bottom: 2.5rem;
  line-height: 1.5rem;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}
